apiVersion: apps/v1
kind: Deployment
metadata:
  name:  arogocd-kafka-subscriber
  labels:
    app.kubernetes.io/name:  arogocd-kafka-subscriber
spec:
  replicas: 1
  selector:
      matchLabels:
        app.kubernetes.io/name: arogocd-kafka-subscriber
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app.kubernetes.io/name:  arogocd-kafka-subscriber
    spec:
      containers:
      - image:  joydeep1985/kafka-subscriber
        name:  arogocd-kafka-subscriber
        imagePullPolicy: Always
        resources:
          requests:
            cpu: "20m"
            memory: "55M"
        # livenessProbe:
        #   httpGet:
        #     path: /_status/healthz
        #     port: 5000
        #   initialDelaySeconds: 90
        #   timeoutSeconds: 10
        # readinessProbe:
        #   httpGet:
        #     path: /_status/healthz
        #     port: 5000
        #   initialDelaySeconds: 30
        #   timeoutSeconds: 10
        # env:
        # - name:  ENVVARNAME
        #   value:  ENVVARVALUE       
        # ports:
        # - containerPort:  5000
        #   name:  my-name
        # volumeMounts:
        # - mountPath: /data
        #   name: data
      # volumes:
      #   - name: data
      #     emptyDir: {}
      restartPolicy: Always